import yaml


KUBEADM_CONFIG_PATH = "{{ kubeadmcfg_file }}"

if __name__ == "__main__":
    with open(KUBEADM_CONFIG_PATH) as f_handler:
        try:
            init_cfg, cluster_cfg, proxy_cfg, kubelet_cfg = yaml.load_all(f_handler)
        except yaml.YAMLError as exc:
            print("{} is invalid yaml format".format(KUBEADM_CONFIG_PATH))
            raise
    proxy_cfg["mode"] = "ipvs"
    
    with open(KUBEADM_CONFIG_PATH, "w") as f_handler:
        yaml.dump_all([init_cfg, cluster_cfg, proxy_cfg, kubelet_cfg], f_handler)