{% set initial_cluster_list = [] %}
{% for item in groups["etcd"] %}
{{ initial_cluster_list.append("{}=https://{}:{}".format(item, hostvars[item]["ansible_default_ipv4"]["address"], etcd_listen_peer_port)) }}
{% endfor %}
{% set initial_cluster = ",".join(initial_cluster_list) %}

apiVersion: "kubeadm.k8s.io/v1beta1"
kind: ClusterConfiguration
kubernetesVersion: {{ kubernetes_version }}

imageRepository: {{ kube_image_repo }}

etcd:
  local:
    serverCertSANs:
    - "{{ ansible_default_ipv4.address }}"
    - "127.0.0.1"
    - "localhost"
    - "etcd"
    - "etcd.kube-system.svc.cluster.local"
    - "etcd.kube-system"
    peerCertSANs:
    - "{{ ansible_default_ipv4.address }}"
    extraArgs:
      initial-cluster: {{ initial_cluster }}
      initial-cluster-state: new
      name: {{ inventory_hostname }}
      listen-peer-urls: https://{{ ansible_default_ipv4.address }}:{{ etcd_listen_peer_port }}
      listen-client-urls: https://0.0.0.0:{{ etcd_listen_client_port }}
      advertise-client-urls: https://{{ ansible_default_ipv4.address }}:{{ etcd_listen_client_port }}
      initial-advertise-peer-urls: https://{{ ansible_default_ipv4.address }}:{{ etcd_listen_peer_port }}
