import yaml
import os


KUBEADM_CONFIG_PATH = "{{ kubeadmcfg_file }}"
OIDC_CA_FILE = "{{ kube_pki_dir }}/oidc-ca.crt"

if __name__ == "__main__":
    with open(KUBEADM_CONFIG_PATH) as f_handler:
        try:
            init_cfg, cluster_cfg, proxy_cfg, kubelet_cfg = yaml.load_all(f_handler)
        except yaml.YAMLError as exc:
            print("{} is invalid yaml format".format(KUBEADM_CONFIG_PATH))
            raise

    oidc_issuer_url = "{{ oidc_issuer_url }}"
    oidc_client_id = "{{ oidc_client_id }}"
    oidc_username_claim = "{{ oidc_username_claim }}"
    oidc_groups_claim = "{{ oidc_groups_claim }}"
    oidc_username_prefix = "{{ oidc_username_prefix }}"
    oidc_groups_prefix = "{{ oidc_groups_prefix }}"
    oidc_signing_algs = "{{ oidc_signing_algs }}"
    oidc_required_claim = "{{ oidc_required_claim }}"

    if oidc_issuer_url.strip():
        cluster_cfg["apiServer"]["extraArgs"]["oidc-issuer-url"] = "{{ oidc_issuer_url }}"
    if oidc_client_id.strip():
        cluster_cfg["apiServer"]["extraArgs"]["oidc-client-id"] = "{{ oidc_client_id }}"
    if oidc_username_claim.strip():
        cluster_cfg["apiServer"]["extraArgs"]["oidc-username-claim"] = "{{ oidc_username_claim }}"
    if oidc_groups_claim.strip():
        cluster_cfg["apiServer"]["extraArgs"]["oidc-groups-claim"] = "{{ oidc_groups_claim }}"
    if oidc_signing_algs.strip():
        cluster_cfg["apiServer"]["extraArgs"]["oidc-signing-algs"] = "{{ oidc_signing_algs }}"
    if oidc_required_claim.strip():
        cluster_cfg["apiServer"]["extraArgs"]["oidc-required-claim"] = "{{ oidc_required_claim }}"
    if os.path.isfile(OIDC_CA_FILE):
        cluster_cfg["apiServer"]["extraArgs"]["oidc-ca-file"] = OIDC_CA_FILE
    if oidc_issuer_url.strip():
        cluster_cfg["apiServer"]["certSANs"].append("{{ oidc_issuer_url }}".strip("https://").split("/")[0])
    
    with open(KUBEADM_CONFIG_PATH, "w") as f_handler:
        yaml.dump_all([init_cfg, cluster_cfg, proxy_cfg, kubelet_cfg], f_handler)
