import yaml


KUBEADM_CONFIG_PATH = "{{ kubeadmcfg_file }}"

if __name__ == "__main__":
    with open(KUBEADM_CONFIG_PATH) as f_handler:
        try:
            init_cfg, cluster_cfg, proxy_cfg, kubelet_cfg = yaml.load_all(f_handler)
        except yaml.YAMLError as exc:
            logger.error("{} is invalid yaml format".format(KUBEADM_CONFIG_PATH))
            raise

    cluster_cfg["apiServer"]["extraArgs"]["audit-log-path"] = "{{ audit_log_path }}"
    cluster_cfg["apiServer"]["extraArgs"]["audit-log-maxage"] = "{{ audit_log_maxage }}"
    cluster_cfg["apiServer"]["extraArgs"]["audit-log-maxbackup"] = "{{ audit_log_maxbackups }}"
    cluster_cfg["apiServer"]["extraArgs"]["audit-log-maxsize"] = "{{ audit_log_maxsize }}"
    cluster_cfg["apiServer"]["extraArgs"]["audit-policy-file"] = "{{ audit_policy_file }}"
    
    audit_logs = {}
    audit_logs["name"] = "{{ audit_log_name }}"
    audit_logs["hostPath"] = "{{ audit_log_hostpath }}"
    audit_logs["mountPath"] = "{{ audit_log_mountpath }}"
    audit_logs["writable"] = {{ audit_log_writable }}
    audit_policy = {}
    audit_policy["name"] = "{{ audit_policy_name }}"
    audit_policy["hostPath"] = "{{ audit_policy_hostpath }}"
    audit_policy["mountPath"] = "{{ audit_policy_mountpath }}"
    cluster_cfg["apiServer"]["extraVolumes"].append(audit_logs) 
    cluster_cfg["apiServer"]["extraVolumes"].append(audit_policy) 
    with open(KUBEADM_CONFIG_PATH, "w") as f_handler:
        yaml.dump_all([init_cfg, cluster_cfg, proxy_cfg, kubelet_cfg], f_handler)
