{% set start_ip_str = subnet_range_start.split('.') %}
{% set start_ip = [] %}
{% for i in start_ip_str %}
{{ start_ip.append(i|int) }}
{% endfor %}

{% set end_ip_str = subnet_range_end.split('.') %}
{% set end_ip = [] %}
{% for i in end_ip_str %}
{{ end_ip.append(i|int) }}
{% endfor %}

{% set ip_1 = start_ip[0] %}
{% set ip_2 = start_ip[1] %}
{% set ip_3 = start_ip[2] %}
{% set ip_4 = start_ip[3] %}

{% for _ in range(ip_3, end_ip[2]+1) %}
{% set ip_4_max = end_ip[3] %}
{% if ip_3 < end_ip[2] %}
{% set ip_4_max = 254 %}
{% endif %}

{% for _ in range(ip_4, ip_4_max+1) %}
{% set ip_addr = "{}.{}.{}.{}".format(ip_1, ip_2, ip_3, ip_4) %}
---
apiVersion: alauda.io/v1
kind: IP
metadata:
  name: {{ ip_addr }}
  labels:
    subnet: {{ subnet_name }}
    used: "false"
spec:
  used: false
  fresh: true
  subnet_name: {{ subnet_name }}
  service_id: ''
  service_name: ''
  is_required: false

{% set ip_4 = ip_4 + 1 %}
{% endfor %}
{% set ip_4 = 0 %}
{% set ip_3 = ip_3 + 1 %}
{% endfor %}