---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: monkey-recycle
  namespace: kube-system
  labels:
    app: monkey-recycle
spec:
  replicas: 1
  selector:
    matchLabels:
      app: monkey-recycle
  template:
    metadata:
      labels:
        app: monkey-recycle
      annotations:
        scheduler.alpha.kubernetes.io/critical-pod: ''
    spec:
      serviceAccountName: monkey
      hostNetwork: true
      tolerations:
        - key: CriticalAddonsOnly
          operator: Exists
        - key: node-role.kubernetes.io/master
          effect: NoSchedule
      containers:
      - name: monkey
        image: {{ monkey_image_repo }}:{{ monkey_image_tag }}
        command:
        - /monkey-recycle
        - -stderrthreshold=INFO
