---

apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: monkey-cni
  namespace: kube-system
  labels:
    tier: node
    app: monkey-cni
spec:
  template:
    metadata:
      labels:
        tier: node
        app: monkey-cni
      annotations:
        scheduler.alpha.kubernetes.io/critical-pod: ""
    spec:
      hostNetwork: true
      hostPID: true
      nodeSelector:
        beta.kubernetes.io/arch: amd64
      tolerations:
      - effect: NoSchedule
        operator: Exists
      - key: CriticalAddonsOnly
        operator: Exists
      - effect: NoExecute
        operator: Exists
      serviceAccountName: monkey
      containers:
      - name: monkey-discovery
        image: {{ monkey_image_repo }}:{{ monkey_image_tag }}
        imagePullPolicy: IfNotPresent
        command:
        - sh
        - /run.sh
        env:
        - name: MODE
          value: {{ discovery_mode }}
        securityContext:
          privileged: true
        volumeMounts:
        - name: docker-netns
          mountPath: /var/docker/netns
          mountPropagation: HostToContainer
      - name: monkey-router
        image: {{ monkey_image_repo }}:{{ monkey_image_tag }}
        imagePullPolicy: IfNotPresent
        command:
        - sh
        - /run.sh
        env:
        - name: MODE
          value: {{ route_mode }}
        - name: NETWORK_TYPE
          value: {{ network_type }}
        - name: DRIVER
          value: {{ driver }}
        - name: REGION
          value: {{ region }}
        - name: SECRET_ID
          value: {{ secret_id }}
        - name: SECRET_KEY
          value: {{ secret_key }}
        securityContext:
          privileged: true
        volumeMounts:
        - name: cni-bin
          mountPath: /opt/cni/bin
        - name: cni-cfg
          mountPath: /etc/cni/net.d
        - name: host-run
          mountPath: /host/var/run
      volumes:
        - name: cni-bin
          hostPath:
            path: /opt/cni/bin
        - name: cni-cfg
          hostPath:
            path: /etc/cni/net.d
        - name: host-run
          hostPath:
            path: /var/run
        - name: docker-netns
          hostPath:
            path: /var/run/docker/netns
