apiVersion: kubeadm.k8s.io/v1beta1
kind: InitConfiguration
bootstrapTokens:
  - token: {{ kubeadm_token }}
    ttl: {{ kubeadm_token_ttl }}
# nodeRegistration:
#   criSocket:
#   taints: {}
#   kubeletExtraArgs:
localAPIEndpoint:
{% if kube_apiserver_advertise_address %}
  advertiseAddress: "{{ kube_apiserver_advertise_address }}"
{% endif %}
  bindPort: {{ kube_apiserver_bind_port }}

---

apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: {{ kubernetes_version }}
{% if kube_controlplane_endpoint %}
controlPlaneEndpoint: "{{ kube_controlplane_endpoint }}"
{% endif %}
networking:
  podSubnet: {{ kube_pods_subnet }}
  serviceSubnet: "{{ kube_service_subnet }}"
  dnsDomain: "{{ kube_dns_domain }}"
etcd:
  external:
    endpoints:
    - "https://127.0.0.1:{{ etcd_listen_client_port }}"
    caFile: {{ etcd_pki_dir }}/ca.crt
    certFile: {{ etcd_pki_dir }}/peer.crt
    keyFile: {{ etcd_pki_dir }}/peer.key
apiServer:
  extraArgs:
{% if kube_apiserver_advertise_address %}
    advertise-address: "{{ kube_apiserver_advertise_address }}"
{% endif %}
    insecure-port: "8080"
    profiling: "false"
    request-timeout: "{{ kube_apiserver_request_timeout }}"
    enable-admission-plugins: "NodeRestriction"
    encryption-provider-config: "{{ kube_encryption_provider_config_file }}"
  certSANs:
{% for san in kube_apiserver_cert_sans %}
  - {{ san }}
{% endfor %}
{% if kube_controlplane_endpoint %}
  - "{{ kube_controlplane_endpoint }}"
{% endif %}
  extraVolumes: [
    {
      "name": "apiserver-config",
      "hostPath": "{{ kube_apiserver_config_dir }}",
      "mountPath": "{{ kube_apiserver_config_dir }}",
      "readOnly": True
    }
  ]
controllerManager:
  extraArgs:
    pod-eviction-timeout: 30s
    node-monitor-period: 2s
    node-monitor-grace-period: 16s
    authorization-always-allow-paths: /healthz,/metrics
  extraVolumes: []
scheduler:
  extraArgs:
    authorization-always-allow-paths: /healthz,/metrics
  extraVolumes: []
imageRepository: {{ kube_image_repo }}
certificatesDir: {{ kube_certs_dir }}
featureGates: {}

---

# kubeproxy config reference: https://godoc.org/k8s.io/kube-proxy/config/v1alpha1
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration

featureGates: {}
clusterCIDR: "{{ kube_pods_subnet }}"
hostnameOverride: "{{ ansible_nodename|lower }}"
portRange: "{{ kube_port_range }}"
metricsBindAddress: "0.0.0.0:10249"

---

# kubelet config reference: https://godoc.org/k8s.io/kubelet/config/v1beta1#KubeletConfiguration 
# Currently not used because ake kubelet is not configured to use kubelet config
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration

featureGates: {}
staticPodPath: "{{ kube_manifest_dir }}"
clusterDomain: "{{ kube_dns_domain }}"
clusterDNS:
  - "{{ kube_cluster_dns_ip }}"
streamingConnectionIdleTimeout: "{{ kubelet_streaming_connection_idle_timeout }}"
eventRecordQPS: 0