apiVersion: kubeovn.io/v1
kind: Subnet
metadata:
  name: default-ipv4-ippool
spec:
  blockSize: 26
  cidrBlock: {{ kube_pods_subnet }}
  default: true
  ipipMode: Always
  namespaces: []
  natOutgoing: true
  private: false
  protocol: IPv4
  vxlanMode: Never
